<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>Dogs Header Dogs Header Dogs Header Dogs Header</h1>
    <%= yield %>
  <h2>Dogs Footer Dogs Footer Dogs Footer Dogs Footer <h2>
  </body>
</html>
